In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
courses = pd.read_csv("courses2.csv")
courses.head()

,Course Name,Course Description,Tags
0,Introduction to Python Programming,Learn the fundamentals of Python programming l...,"programming, python"
1,Web Development with HTML and CSS,Build static web pages using HTML and CSS.,"web development, HTML, CSS"
2,Machine Learning Fundamentals,An introductory course to machine learning con...,"machine learning, AI"
3,Preparation for JEE Main,Comprehensive preparation for the JEE Main exam.,"JEE, engineering, exam preparation"
4,Advanced Python Programming,Explore advanced Python topics like decorators...,"programming, python"

In [11]:
courses.describe()

,Course Name,Course Description,Tags
count,46,46,46
unique,29,46,42
top,Advanced Python Programming,Learn the fundamentals of Python programming l...,"programming, python"
freq,3,1,2

In [12]:
courses.isnull().sum()

Course Name           0
Course Description    0
Tags                  0
dtype: int64

In [13]:
for i in courses.columns:

    if(courses[i].dtype == object):
        courses[i]= courses[i].str.lower()

In [14]:
courses['Course Description']= courses['Course Description'].apply(lambda x: x.split())

In [15]:
punc = ['[',']','\'',]

def rmvPunc(txt):
    
    for i in punc:
        txt = txt.replace(i,'')

    return txt

def getName(list1):

    modList = []

    for i in list1:
        modList.append(rmvPunc(i))

def remSpaces(txt):

    woSpace = txt.replace(' ','')

    return woSpace

print(remSpaces(courses['Tags'][0]))

courses['Tags']= courses['Tags'].apply(remSpaces)

courses['Tags']= courses['Tags'].apply(rmvPunc)

programming,python

In [16]:
courses['Tags']= courses['Tags'].apply(lambda x: x.split(','))

In [17]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stemmed(text):

    return " ".join([ps.stem(word) for word in text])

In [18]:
courses.head()

,Course Name,Course Description,Tags
0,introduction to python programming,"[learn, the, fundamentals, of, python, program...","[programming, python]"
1,web development with html and css,"[build, static, web, pages, using, html, and, ...","[webdevelopment, html, css]"
2,machine learning fundamentals,"[an, introductory, course, to, machine, learni...","[machinelearning, ai]"
3,preparation for jee main,"[comprehensive, preparation, for, the, jee, ma...","[jee, engineering, exampreparation]"
4,advanced python programming,"[explore, advanced, python, topics, like, deco...","[programming, python]"

In [19]:
courses['taglines'] = courses['Course Description']+ courses['Tags']

In [20]:
courses.head()

,Course Name,Course Description,Tags,taglines
0,introduction to python programming,"[learn, the, fundamentals, of, python, program...","[programming, python]","[learn, the, fundamentals, of, python, program..."
1,web development with html and css,"[build, static, web, pages, using, html, and, ...","[webdevelopment, html, css]","[build, static, web, pages, using, html, and, ..."
2,machine learning fundamentals,"[an, introductory, course, to, machine, learni...","[machinelearning, ai]","[an, introductory, course, to, machine, learni..."
3,preparation for jee main,"[comprehensive, preparation, for, the, jee, ma...","[jee, engineering, exampreparation]","[comprehensive, preparation, for, the, jee, ma..."
4,advanced python programming,"[explore, advanced, python, topics, like, deco...","[programming, python]","[explore, advanced, python, topics, like, deco..."

In [21]:
courses['taglines'] =courses['taglines'].apply(stemmed)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features= 200) 
vectors  = cv.fit_transform(courses['taglines']).toarray()

In [23]:
cv.get_feature_names_out()

array(['10', 'acm', 'adob', 'adobeillustr', 'advanc',
       'advancedcompetitiveprogram', 'advanceddesign', 'advanceddsa',
       'advancedpython', 'advancedsystemdesign', 'ai', 'algorithm',
       'algorithms', 'an', 'analysi', 'and', 'android', 'app',
       'appdevelop', 'applications', 'aptitude', 'architectur',
       'architecture', 'arrays', 'automation', 'back', 'basic', 'beginn',
       'beginners', 'biology', 'board', 'boardexam', 'both', 'build',
       'cbse', 'cgl', 'challeng', 'chemistry', 'civil', 'civilservic',
       'class', 'class10', 'code', 'color', 'combin', 'commun',
       'communication', 'competit', 'competitions', 'competitiveprogram',
       'comprehens', 'comput', 'concepts', 'concurrency', 'contests',
       'conversations', 'cours', 'course', 'cover', 'creat', 'css',
       'data', 'databas', 'datasci', 'datastructur', 'decorators', 'deep',
       'deeplearn', 'depth', 'design', 'develop', 'development',
       'distribut', 'dive', 'dsa', 'dynam', 'effect', 'end', 'engin',
       'english', 'exam', 'examprepar', 'exercis', 'experi', 'explor',
       'focu', 'for', 'front', 'graduat', 'graphic', 'graphicdesign',
       'html', 'illustr', 'immers', 'in', 'interfac', 'intermedi',
       'intermediate', 'into', 'introduct', 'introductori', 'java',
       'javafx', 'javascript', 'jee', 'kotlin', 'languag', 'language',
       'learn', 'level', 'librari', 'like', 'link', 'lists', 'logos',
       'machin', 'machinelearn', 'main', 'master', 'metaprogramming',
       'more', 'naturallanguageprocess', 'nlp', 'numpi', 'of', 'on',
       'optimization', 'or', 'ori', 'other', 'page', 'panda', 'particip',
       'perform', 'physic', 'practic', 'prepar', 'principl', 'principles',
       'program', 'programming', 'prototyping', 'python', 'quantit',
       'reasoning', 'research', 'role', 'scalability', 'scalabl',
       'scienc', 'scratch', 'search', 'servic', 'sharding', 'skill',
       'skills', 'solv', 'sorting', 'spanish', 'speak', 'ssc', 'stack',
       'start', 'static', 'strategies', 'structur', 'structures', 'studi',
       'stun', 'system', 'systemdesign', 'systems', 'techniqu',
       'technolog', 'tensorflow', 'testing', 'text', 'the', 'theory',
       'to', 'tolerance', 'topic', 'topics', 'typographi', 'ui',
       'understand', 'understanding', 'upsc', 'usabl', 'use', 'user',
       'userexperi', 'ux', 'vector', 'visual', 'vocabulary', 'web',
       'webdevelop', 'wireframing', 'with'], dtype=object)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

print(courses.shape)

(46, 4)

In [25]:
print(sorted(list(enumerate(similarity[1])),reverse=True,key=lambda x: x[1])[1:5])

[(12, 0.5367450401216931), (5, 0.45184805705753184), (8, 0.1690308509457033), (9, 0.12171612389003691)]

In [27]:
#Courses RECOMMENDER
course= int(input("Enter course name(id) liked: "))

helper = sorted(list(enumerate(similarity[course])),reverse=True,key=lambda x: x[1])[1:6]

print("As u have finished '{}' ,so u might also be interested in:".format(courses['Course Name'][course]))

lst = []

for i in helper:
    if(i[1] > 0.20):
        lst.append(i[0]) 
pos = 1
for i in lst:
    print(pos,". ",courses['Course Name'][i].upper())
    pos+=1

As u have finished 'advanced python programming' ,so u might also be interested in:
1 .  ADVANCED PYTHON PROGRAMMING
2 .  ADVANCED PYTHON PROGRAMMING
3 .  INTRODUCTION TO PYTHON PROGRAMMING
4 .  DATA SCIENCE WITH PYTHON
5 .  ADVANCED DSA TECHNIQUES

In [ ]:
# Multiple courses taken (in form of an array) => recommend new courses to them

def recommender_courses(course_list):
    
    similarCourses = set()
    
    for i in course_list:
        helper = sorted(list(enumerate(similarity[i])),reverse=True,key=lambda x: x[1])[1:6]
        
        for j in helper:
            similarCourses.add((j[0],j[1]))

    # print(similarCourses)

    pair_list = list(similarCourses)

    sorted_courses = sorted(pair_list, key=lambda x: x[1], reverse=True)
   
    # print(sorted_courses)
    lst = []

    for i in sorted_courses:
        if(i[1] > 0.30):
            lst.append(i[0])

    # for i in lst:
    #     print(i)
    pos = 1
    for i in lst:
        print(pos,". ",courses['Course Name'][i].upper())
        pos+=1

In [ ]:
coursestaken = [0,1,2]
recommender_courses(coursestaken)

In [ ]:
import pickle as pkl

pkl.dump(similarity, open("similarityMatrix.pkl","wb"))

In [ ]:
import pandas as pd
products = pd.read_csv("products.csv")
products.head()